<template name="index">

	<div id="pinContainer" class="home-slider">
		{{#each sections}}
			<section class="home-panel" id="{{name}}">
				<div class="container">
					<h1>{{title}}</h1>
					{{{description}}}
				</div>
			</section>
		{{/each}}
	</div>

		<h1 class="text-center latest-title">
			Let's take a look on our latest products <br>
			<i class="fa fa-chevron-down"></i>
		</h1>

	<div class="latest">
		<div class="products">
				{{#each latest}}
					<div class="col-sm-3">
						<div class="product-image"><img src="{{image.url}}"></div>
						<h3><a href="/category/products/{{_id}}">{{name}}</a></h3>
						<p>{{{description}}}</p>
					</div>
				{{/each}}
		</div>
	</div>

	<div class="container parteners-holder">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="text-center">Our Parteners</h3>
				{{#each allSlides}}
					<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 parteners"><img src="{{this.url}}"></div>
				{{/each}}
			</div>
		</div>
	</div>
	
</template>
